@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper .swiper-pagination {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(217, 217, 217, 0.50);;
  height: 20px;
  width: 20px;
}

.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #D9D9D9;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer p {
  color: white;
  text-align: right;
}

footer a {
  color: #FFF;
}

footer .icon-container {
  display: flex;
  gap: 30px;
}
